@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@font-face {
    font-family:'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
    }

body {
    font-family: arial , sans-serif;
    background-color: #dddddd; 
    color: black    
}
    body a {
    color: blue;
    text-decoration: none;
    }
    a:hover{
    color: red;
    background-color: rgb(182, 182, 182);
    }

div#interface{
    width: 1200px; 
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    padding: 10px;
}
 
p {
    text-align: justify; 
    text-indent: 50px;
}

/*Formatação do Header ou CABEÇALHO*/
header#cabecalho img#icone {
    position: absolute;
    left: 1050px;
    top: 70px ;
}
header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90px;
}
header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: grey;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    padding: 0px; 
    margin-bottom: 0px;
}
header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #000000;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px; 
}

/*Formatação de imagens COM LEGENDAS*/
figure.foto-legenda {
    position: relative;
    border: 10px solid white; 
    box-shadow: 1px 1px 4px black; 
}
figure.foto-legenda img {
    width: 100%; 
    height: 100%;
}
figure.foto-legenda figcaption { 
    color: white;
    position: absolute;
    top: 0px;
    background-color:rgba(0, 0, 0, 0.4); 
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; 
    opacity: 0; 
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/* Formatação do Menu*/
nav#menu{
    display: block;
}
nav#menu h1{ 
    display:  none;
} 
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 600px;

}  
nav#menu li{
    display: inline-block;
    background-color: rgb(177, 177, 177);
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
            
nav#menu a{ 
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color: white; 
}

/*FORMATAÇÃO DO CORPO CENTRAL DA TELA*/
section#corpo {
    display: block;
    width: 735px;
    float: left;
    border-right: 1px solid black;
    padding: 15px;
}
article#noticia-principal h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 10px 0px 10px 10px;
    margin: 10px;
}
header#cabecalho-artigo h1 {
    font-family: 'FonteLogo' , sans-serif;
    font-size: 20pt;
    color: 606060;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin-top: 0px;
}
header#cabecalho-artigo h3 {
    font-size: 11px;
    color: #606060;
    
}
.direita {
    text-align: right;
}

table#espec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#espec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
}
table#espec td.ce {
    color: white;
    background-color: #606060;
    vertical-align: top;
}
table#espec td.cd {
    background-color: #cecece;
    font-weight: bold;
    text-align: left;
}
table#espec caption{
    color: #888888;
    font-size: 16pt;
    font-weight: bolder;
}
table#espec caption span{
    display: block;
    float: right;
    color: black;
    font-size: 10pt;
    margin-top: 10px;    
}

/*FORMATAÇÃO DA LATERAL*/
aside#lateral {
    display: block;
    width: 400px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}
aside#lateral h1 {
    font-family: 'FonteLogo' , sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}
aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: white;
    padding: 5px;
}
/*FORMATAÇÃO DO RODAPÉ*/
footer#rodape {
    clear:both;
    border-top: 1px solid black;
}
footer#rodape p {
    text-align: center;
}
footer#rodape a{
    color: black;
    text-decoration: none;
}
footer#rodape a:hover{
    color: blue;
    background-color: rgb(177, 177, 177);
}
