@charset "UTF-8";

div#tv-radio {
    width: 1100px;
    height: 700px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 573px;
    top: 486px;
    width: 300px;
}

video#filme { 
    display: block;
    position: relative;
    left: 85px;
    top: 70px;
    width: 440px;
}
